.page {
    font-family: $mainFont;
    font-weight: 300;
    font-size: $defaultFontSize;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
}

.page.lock {
    @media screen and (max-width: $MD) {
        overflow: hidden;
    }
}
